<!DOCTYPE html>
<html lang="es">
<head>
    <title>Análisis Trastornos Alimenticios</title>
    <meta name="title" content="Análisis Trastornos Alimenticios">
    <meta charset="UTF-8">
   
    <script src="html2pdf.bundle.min.js">

const $boton = document.querySelector("#cmd");
$boton.addEventListener("click", () => {
    const $elementoParaConvertir = document.body; // <-- Aquí puedes elegir cualquier elemento del DOM
    html2pdf()
        .set({
            margin: 1,
            filename: 'documento.pdf',
            image: {
                type: 'jpeg',
                quality: 0.98
            },
            html2canvas: {
                scale: 3, // A mayor escala, mejores gráficos, pero más peso
                letterRendering: true,
            },
            jsPDF: {
                unit: "in",
                format: "a3",
                orientation: 'portrait' // landscape o portrait
            }
        })
    .from($elementoParaConvertir)
    .save()
    .catch(err => console.log(err));
    })

    </script>
   
   
   
   <style>
        body{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
background-color: #dcfff9 ;
color: rgb(56, 119, 177);
border-color: rgb(21, 0, 105);
border: 9px groove (internal value);
border-radius: 7px;
width: 1000px
}

legend{
    color: darkblue;
    font-weight: bold
}
    </style>
</head>
<body id="content">
    <header>
        <img src="https://raw.githubusercontent.com/FranZajara/fastapi-eatsafe/main/EatSafe-Logo.jpg" alt="Logo EatSafe">
    </header>
    <fieldset>
    <legend>Información Personal</legend>
    <h1>Nombre: {{nombre}}</h1>
    <h1>Edad: {{edad}}</h1>
    <h1>Sexo: {{sexo}}</h1>
    <h1>Peso: {{peso}}</h1>
    <h1>Altura: {{altura}}</h1>
    </fieldset>

    <fieldset>
    <legend>Calculos de índices</legend>
    <h2>Índice metabólico basal obtenido: {{imb}}</h2>
    <h2>Índice de masa corporal obtenido: {{imc}}</h2>
    </fieldset>

    <fieldset>
        <legend>Resultados para el Trastorno de Pica</legend>
    <p>{{pica}}</p>
    </fieldset>

    <fieldset>
        <legend>Resultados para el Trastorno de Rumiación</legend>
    <p>{{rumiacion}}</p>
    </fieldset>

    <fieldset>
        <legend>Resultados para el Trastorno de Evitación</legend>
    <p>{{evitacion}}</p>
    </fieldset>

    <fieldset>
        <legend>Resultados para el Trastorno de la Anorexia Nerviosa</legend>
    <p>{{anorexia}}</p>
    </fieldset>

    <fieldset>
        <legend>Resultados para el Trastorno de la Bulimia Nerviosa</legend>
    <p>{{bulimia}}</p>
    </fieldset>

    <fieldset>
        <legend>Resultados para el Trastorno de Atracón</legend>
    <p>{{atracon}}</p>
    </fieldset>

    <fieldset>
        <legend>Resultados para el Síndrome de ingestión nocturna de alimentos</legend>
    <p>{{nocturno}}</p>
    </fieldset>

</body>

<button id="vuelta" onclick="location.href='https://trastornosalimenticioseatsafe.es/'">Volver al Inicio</button>
<button id="cmd">Descargar PDF</button>
</html>

    