<!DOCTYPE html>
<html lang="es">
<head>
    <title>Análisis Trastornos Alimenticios</title>
    <meta name="title" content="Análisis Trastornos Alimenticios">
    <meta charset="UTF-8">

    <script>
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                 return true;
    }
};

$('#cmd').click(function () {
    doc.fromHTML($('#content').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    doc.save('sample-file.pdf');
});
    </script>
</head>
<body id="content">
    <header>
        <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen.jpg" alt="Logo EatSafe">
    </header>

    <h1>Nombre: {{nombre}}</h1>
    <h1>Edad: {{edad}}</h1>
    <h1>Sexo: {{sexo}}</h1>
    <h1>Peso: {{peso}}</h1>
    <h1>Altura: {{altura}}</h1>


    <h2>Índice metabólico basal obtenido: {{imb}}</h2>
    <h2>Índice de masa corporal obtenido: {{imc}}</h2>

    <p>{{pica}}</p>
    <p>{{rumiacion}}</p>
    <p>{{evitacion}}</p>
    <p>{{anorexia}}</p>
    <p>{{bulimia}}</p>
    <p>{{atracon}}</p>
    <p>{{nocturno}}</p>

</body>

<button id="cmd">Descargar PDF</button>
</html>

    