body{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
color: rgb(56, 119, 177);
border-color: rgb(21, 0, 105);
border: 9px groove (internal value);
border-radius: 7px;
width: 1000px
}

legend{
    color: darkblue;
    font-weight: bold
}